body {
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color: white;
}


.card {
background: rgba(0,0,0,0.4);
padding: 30px;
border-radius: 12px;
width: 320px;
text-align: center;
}


input, button {
width: 100%;
margin: 8px 0;
padding: 10px;
border-radius: 6px;
border: none;
}


button {
background: gold;
cursor: pointer;
}